<div class="container mb-5 mt-5">
    <div class="row">

        <!-- Bộ lọc -->
        <div class="col-2">
            <div>
                <hr>
                <h4>
                    Khoảng giá
                </h4>
                <!-- Dropdown Khoảng giá -->
                <div class="form-check ps-0">
                    <input type="range" class="form-range" min="0" max="5" step="0.5">
                    <div class="" style="display: flex!important; justify-content: space-between;">
                        <p>0</p>
                        <p>2.000.000</p>
                    </div>
                </div>
                <!--  -->
            </div>
            <div>
                <hr>
                <a class="btn btn-primary w-100 h-100" data-bs-toggle="collapse" data-bs-target="#demo">
                    Danh
                    mục
                </a>
                <div id="demo" class="collapse mt-3">
                    <div class="d-flex flex-column">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="AAA" value="" id="flexCheckDisabled">
                            <label class="form-check-label" for="flexCheckDisabled">
                                Áo polo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="AAA" value=""
                                   id="flexCheckCheckedDisabled" checked>
                            <label class="form-check-label" for="flexCheckCheckedDisabled">
                                Áo len
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <hr>
                <a class="btn btn-primary w-100 h-100" data-bs-toggle="collapse" data-bs-target="#demo1">
                    Kích
                    thước
                </a>
                <div id="demo1" class="collapse mt-3">
                    <div class="d-flex flex-column">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="AAA1" value=""
                                   id="flexCheckDisabled1">
                            <label class="form-check-label" for="flexCheckDisabled1">
                                S
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="AAA1" value=""
                                   id="flexCheckCheckedDisabled1" checked>
                            <label class="form-check-label" for="flexCheckCheckedDisabled1">
                                M
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="col">
            <div>
                <p class="fw-bold">Kết quả tìm kiếm: <span class="fw-light">834 sản phẩm</span></p>
            </div>

            <div>
                <div class=" align-items-center" style="display: flex!important; justify-content: space-between;">

                    <div>
                        <div class="dropdown">
                            <a class="btn border dropdown-toggle" href="#!" role="button" id="dropdownMenuLink1"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-bars"></i>
                                <span style="margin: 0 20px 0 10px;">Mặc định</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" style="min-width: 200px;">
                                <div class="" style="display: flex!important; justify-content: space-around;">
                                    <div class="form-check">
                                <li>

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioDef"
                                               value="" id="flexRadioDefault0" checked>
                                        <label class="form-check-label" for="flexRadioDefault0">
                                            Mặc định
                                        </label>
                                    </div>
                                </li>
                                <li>

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioDef"
                                               value="" id="flexRadioDefault">
                                        <label class="form-check-label" for="flexRadioDefault">
                                            Mới nhất
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioDef"
                                               value="" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Giá thấp đến cao
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radioDef"
                                               value="" id="flexRadioDefault2">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Giá cao đến thấp
                                        </label>
                                    </div>
                                </li>

                        </div>
                    </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-5 mt-5">
        <!-- col 1 -->
        <div class="col">
            <!-- img -->
            <div class="border bg-light ratio rounded overflow-hidden mb-2"
                 style="--bs-aspect-ratio: 132%;">
                <a href="#!"><img src="~/img/sale/sale_1.png" class="mw-100 mh-100" alt=""></a>
            </div>
            <div class="mb-2">
                <div class="bage" style="background-image: url(/img/mau1.png); border-color: black;">
                </div>
                <div class="bage" style="background-image: url(/img/mau2.png);">
                </div>
                <div class="bage" style="background-image: url(/img/mau3.png);">
                </div>
            </div>
            <div class="title-sale">
                <a class=" text-decoration-none mb-2 text-black fw-bold" style="font-size: 22px;"
                   href="#!">
                    Áo
                    nỉ nữ
                    có hình in
                </a>
            </div>
            <div class="mb-2">
                <span class="fw-bold">279.000 <span class="dong">đ</span> </span>
            </div>
            <div class="mb-2">
                <span class="giaCu">399.000 <span class="dong">đ</span></span> <span class="text-danger fw-bold">-30%</span>
            </div>
            <div class="mb-2">
                <div class="progress" style="height: 10px;">
                    <div class="progress-bar" style="width:40%;"></div>
                </div>
                <p class="daBan">Đã bán: 200 sp</p>
            </div>
            <div>
                <button class="btn btn-danger w-100">Thêm vào giỏ hàng</button>
            </div>
        </div>
        <!--  -->
        <!-- col 2 -->
        <div class="col">
            <!-- img -->
            <div class="border bg-light ratio rounded overflow-hidden mb-2"
                 style="--bs-aspect-ratio: 132%;">
                <a href="#!"><img src="~/img/sale/sale_2.png" class="mw-100 mh-100" alt=""></a>
            </div>
            <div class="mb-2">
                <div class="bage" style="background-image: url(/img/mau1.png); border-color: black;">
                </div>
                <div class="bage" style="background-image: url(/img/mau2.png);">
                </div>
                <div class="bage" style="background-image: url(/img/mau3.png);">
                </div>
            </div>
            <div class="title-sale">
                <a class=" text-decoration-none mb-2 text-black fw-bold" style="font-size: 22px;"
                   href="#!">
                    Áo
                    nỉ nữ
                    có hình in
                </a>
            </div>
            <div class="mb-2">
                <span class="fw-bold">279.000 <span class="dong">đ</span> </span>
            </div>
            <div class="mb-2">
                <span class="giaCu">399.000 <span class="dong">đ</span></span> <span class="text-danger fw-bold">-30%</span>
            </div>
            <div class="mb-2">
                <div class="progress" style="height: 10px;">
                    <div class="progress-bar" style="width:40%;"></div>
                </div>
                <p class="daBan">Đã bán: 200 sp</p>
            </div>
            <div>
                <button class="btn btn-danger w-100">Thêm vào giỏ hàng</button>
            </div>
        </div>
        <!--  -->
        <!-- col 3 -->
        <div class="col">
            <!-- img -->
            <div class="border bg-light ratio rounded overflow-hidden mb-2"
                 style="--bs-aspect-ratio: 132%;">
                <a href="#!"><img src="~/img/sale/sale_3.png" class="mw-100 mh-100" alt=""></a>
            </div>
            <div class="mb-2">
                <div class="bage" style="background-image: url(/img/mau1.png); border-color: black;">
                </div>
                <div class="bage" style="background-image: url(/img/mau2.png);">
                </div>
                <div class="bage" style="background-image: url(/img/mau3.png);">
                </div>
            </div>
            <div class="title-sale">
                <a class=" text-decoration-none mb-2 text-black fw-bold" style="font-size: 22px;"
                   href="#!">
                    Áo
                    nỉ nữ
                    có hình in
                </a>
            </div>
            <div class="mb-2">
                <span class="fw-bold">279.000 <span class="dong">đ</span> </span>
            </div>
            <div class="mb-2">
                <span class="giaCu">399.000 <span class="dong">đ</span></span> <span class="text-danger fw-bold">-30%</span>
            </div>
            <div class="mb-2">
                <div class="progress" style="height: 10px;">
                    <div class="progress-bar" style="width:40%;"></div>
                </div>
                <p class="daBan">Đã bán: 200 sp</p>
            </div>
            <div>
                <button class="btn btn-danger w-100">Thêm vào giỏ hàng</button>
            </div>
        </div>
        <!--  -->
        <!-- col 4 -->
        <div class="col">
            <!-- img -->
            <div class="border bg-light ratio rounded overflow-hidden mb-2"
                 style="--bs-aspect-ratio: 132%;">
                <a href="#!"><img src="~/img/sale/sale_4.png" class="mw-100 mh-100" alt=""></a>
            </div>
            <div class="mb-2">
                <div class="bage" style="background-image: url(/img/mau1.png); border-color: black;">
                </div>
                <div class="bage" style="background-image: url(/img/mau2.png);">
                </div>
                <div class="bage" style="background-image: url(/img/mau3.png);">
                </div>
            </div>
            <div class="title-sale">
                <a class=" text-decoration-none mb-2 text-black fw-bold" style="font-size: 22px;"
                   href="#!">
                    Áo
                    nỉ nữ
                    có hình in
                </a>
            </div>
            <div class="mb-2">
                <span class="fw-bold">279.000 <span class="dong">đ</span> </span>
            </div>
            <div class="mb-2">
                <span class="giaCu">399.000 <span class="dong">đ</span></span> <span class="text-danger fw-bold">-30%</span>
            </div>
            <div class="mb-2">
                <div class="progress" style="height: 10px;">
                    <div class="progress-bar" style="width:40%;"></div>
                </div>
                <p class="daBan">Đã bán: 200 sp</p>
            </div>
            <div>
                <button class="btn btn-danger w-100">Thêm vào giỏ hàng</button>
            </div>
        </div>
        <!--  -->
    </div>
    <!-- row 1 -->
    <div class="row mb-5">
        <!-- col 1 -->
        <div class="col">
            <!-- img -->
            <div class="border bg-light ratio rounded overflow-hidden mb-2"
                 style="--bs-aspect-ratio: 132%;">
                <a href="#!"><img src="~/img/ao_polo/ao_polo_1.png" class="mw-100 mh-100" alt=""></a>
            </div>
            <div class="mb-2">
                <div class="bage" style="background-image: url(/img/mau1.png); border-color: black;">
                </div>
                <div class="bage" style="background-image: url(/img/mau2.png);">
                </div>
                <div class="bage" style="background-image: url(/img/mau3.png);">
                </div>
            </div>
            <div class="title-sale">
                <a class=" text-decoration-none mb-2 text-black fw-bold" style="font-size: 22px;"
                   href="#!">
                    Áo
                    nỉ nữ
                    có hình in
                </a>
            </div>
            <div class="mb-2">
                <span class="fw-bold">279.000 <span class="dong">đ</span> </span>
            </div>
            <div class="mb-2">
                <span class="giaCu">399.000 <span class="dong">đ</span></span> <span class="text-danger fw-bold">-30%</span>
            </div>
            <div class="mb-2">
                <div class="progress" style="height: 10px;">
                    <div class="progress-bar" style="width:40%;"></div>
                </div>
                <p class="daBan">Đã bán: 200 sp</p>
            </div>
            <div>
                <button class="btn btn-danger w-100">Thêm vào giỏ hàng</button>
            </div>
        </div>
        <!--  -->
        <!-- col 2 -->
        <div class="col">
            <!-- img -->
            <div class="border bg-light ratio rounded overflow-hidden mb-2"
                 style="--bs-aspect-ratio: 132%;">
                <a href="#!"><img src="~/img/ao_polo/ao_polo_2.png" class="mw-100 mh-100" alt=""></a>
            </div>
            <div class="mb-2">
                <div class="bage" style="background-image: url(/img/mau1.png); border-color: black;">
                </div>
                <div class="bage" style="background-image: url(/img/mau2.png);">
                </div>
                <div class="bage" style="background-image: url(/img/mau3.png);">
                </div>
            </div>
            <div class="title-sale">
                <a class=" text-decoration-none mb-2 text-black fw-bold" style="font-size: 22px;"
                   href="#!">
                    Áo
                    nỉ nữ
                    có hình in
                </a>
            </div>
            <div class="mb-2">
                <span class="fw-bold">279.000 <span class="dong">đ</span> </span>
            </div>
            <div class="mb-2">
                <span class="giaCu">399.000 <span class="dong">đ</span></span> <span class="text-danger fw-bold">-30%</span>
            </div>
            <div class="mb-2">
                <div class="progress" style="height: 10px;">
                    <div class="progress-bar" style="width:40%;"></div>
                </div>
                <p class="daBan">Đã bán: 200 sp</p>
            </div>
            <div>
                <button class="btn btn-danger w-100">Thêm vào giỏ hàng</button>
            </div>
        </div>
        <!--  -->
        <!-- col 3 -->
        <div class="col">
            <!-- img -->
            <div class="border bg-light ratio rounded overflow-hidden mb-2"
                 style="--bs-aspect-ratio: 132%;">
                <a href="#!"><img src="~/img/ao_polo/ao_polo_3.png" class="mw-100 mh-100" alt=""></a>
            </div>
            <div class="mb-2">
                <div class="bage" style="background-image: url(/img/mau1.png); border-color: black;">
                </div>
                <div class="bage" style="background-image: url(/img/mau2.png);">
                </div>
                <div class="bage" style="background-image: url(/img/mau3.png);">
                </div>
            </div>
            <div class="title-sale">
                <a class=" text-decoration-none mb-2 text-black fw-bold" style="font-size: 22px;"
                   href="#!">
                    Áo
                    nỉ nữ
                    có hình in
                </a>
            </div>
            <div class="mb-2">
                <span class="fw-bold">279.000 <span class="dong">đ</span> </span>
            </div>
            <div class="mb-2">
                <span class="giaCu">399.000 <span class="dong">đ</span></span> <span class="text-danger fw-bold">-30%</span>
            </div>
            <div class="mb-2">
                <div class="progress" style="height: 10px;">
                    <div class="progress-bar" style="width:40%;"></div>
                </div>
                <p class="daBan">Đã bán: 200 sp</p>
            </div>
            <div>
                <button class="btn btn-danger w-100">Thêm vào giỏ hàng</button>
            </div>
        </div>
        <!--  -->
        <!-- col 4 -->
        <div class="col">
            <!-- img -->
            <div class="border bg-light ratio rounded overflow-hidden mb-2"
                 style="--bs-aspect-ratio: 132%;">
                <a href="#!"><img src="~/img/ao_polo/ao_polo_4.png" class="mw-100 mh-100" alt=""></a>
            </div>
            <div class="mb-2">
                <div class="bage" style="background-image: url(/img/mau1.png); border-color: black;">
                </div>
                <div class="bage" style="background-image: url(/img/mau2.png);">
                </div>
                <div class="bage" style="background-image: url(/img/mau3.png);">
                </div>
            </div>
            <div class="title-sale">
                <a class=" text-decoration-none mb-2 text-black fw-bold" style="font-size: 22px;"
                   href="#!">
                    Áo
                    nỉ nữ
                    có hình in
                </a>
            </div>
            <div class="mb-2">
                <span class="fw-bold">279.000 <span class="dong">đ</span> </span>
            </div>
            <div class="mb-2">
                <span class="giaCu">399.000 <span class="dong">đ</span></span> <span class="text-danger fw-bold">-30%</span>
            </div>
            <div class="mb-2">
                <div class="progress" style="height: 10px;">
                    <div class="progress-bar" style="width:40%;"></div>
                </div>
                <p class="daBan">Đã bán: 200 sp</p>
            </div>
            <div>
                <button class="btn btn-danger w-100">Thêm vào giỏ hàng</button>
            </div>
        </div>
        <!--  -->
    </div>
    <!--  -->
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination  justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link" href="#!" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#!">1</a></li>
                <li class="page-item"><a class="page-link" href="#!">2</a></li>
                <li class="page-item"><a class="page-link" href="#!">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#!" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

        </div>
    </div>