@model TestModel;
@{
   
    // var list = ViewData["aa"] as List<ThanhPhoResp>;
}
<input asp-for="@Model.A"/>
@* <div class="product">
    <h2>Paratial 111111111111111111111111111111</h2>
    @foreach (var item in list)
    {
        <p>@item.Name</p>
    }
</div> *@