 @model BaseLibary.DTOs.Register
@{
    ViewData["Title"] = "Đăng ký";
}

<div class="container d-flex align-items-center justify-content-center pt-5">
    <form asp-action="dangky" method="post">
        <div class=" row border p-3 bg-light" style="min-height: 450px; width: 400px;">
            <h2>Đăng ký</h2>
            <input type="email" asp-for="Email" style="height: 8vh;font-size: 20px;" placeholder="Email">
            <input type="password" asp-for="Password" style="height: 8vh;font-size: 20px;" placeholder="Nhập mật khẩu" minlength="6">
            <input type="password" asp-for="PasswordTry" style="height: 8vh;font-size: 20px;" placeholder="Nhập lại mật khẩu" minlength="6">
            <input type="submit" value="Đăng ký" asp-controller="Authen" asp-action="dangky" class="btn btn-danger align-items-center" style="height: 44px;font-size: 20px;">
            <hr class="d-block">
            <span class="d-flex justify-content-end">
                Bạn đã có tài khoản? <a asp-action="dangnhap" asp-controller="Authen"
                    class="text-danger ms-2 text-decoration-none">Đăng nhập</a></span>
        </div>
    </form>
    </div>